{% extends "MembershipApp/base.html" %}

{% block header %}
    <title>inventory</title>
{% endblock %}

{% block body %}
    <h2 style="margin-left:1%"><b>Our Inventory</b></h2>
    <h2 style="margin-left:1%">View or Add items in one of the categories</h2>

    <div class="category-container container-fluid">
    <div class="add_buttons">
    <ul>
    <li>
        <div class="button-group">
            {% for category in categories %}
                <a href="{% url 'inventory:Display_Category' category.id %}" class="btn btn-primary btn-md btn-trim" role="button" style="width: 300px; margin-left:2%" >{{category.name}}</a>
                <a href="{% url 'inventory:Add_Item' category.id %}" class="btn btn-warning btn-sm btn-pad" role="button"  >Add</a><br><br>
            {% endfor %}
        </div>
    </li>
    </ul>
    </div>
    </div>

    <h6 style="margin-left: 2%"><i>You can request from any admin to add a new category of items</i></h6>


{% endblock %}