{% extends "MembershipApp/base.html" %}
{% load static %}
{% block body %}
    <section class="text-center imagebg" data-overlay="4">
        <div class="background-image-holder"><img alt="background"
                                                  src="{% static "MembershipApp/img/edit_background.jpeg" %}"></div>
        <div class="container" style="margin-bottom: 70px">
            <div class="row">
                <div class="col-md-10 col-lg-8">
                    <h1 style="margin-top: -50px">Edit Ticket</h1>
                    <p class="lead" style="margin-top: -20px"> #StayBubbly </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-6">
                    <a class="block">
                        <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                            <div class="background-image-holder"><img alt="background"
                                                                      src="{% static "MembershipApp/img/dashboard.jpg" %}">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-6">
                    <a class="block">
                        <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                            <div class="background-image-holder"><img alt="background"
                                                                      src="{% static "MembershipApp/img/edit_ticket.png" %}">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-6">
                    <a class="block">
                        <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                            <div class="background-image-holder"><img alt="background"
                                                                      src="{% static "MembershipApp/img/signup.jpg" %}">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center" style="margin-left: 350px">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="col-md-8"> {{ ticket_form }} </div>
                <div class="col-md-6">
                    <button style="margin-left: 80px" type="submit" class="btn btn--primary type--uppercase">Save
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}