{% load static %}
<footer class="space--sm footer-2" style="margin-top: 150px">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-4 col-xs-7">
                <h6 class="type--uppercase">Apply</h6>
                <ul class="list--hover">
                    <li><a href="/register/">Apply to camp</a></li>
                    <li>
                        <a href="/contact">Apply
                            to speak</a></li>
                </ul>
            </div>
            <div class="col-sm-7 col-md-4 col-xs-7">
                <h6 class="type--uppercase">BEE</h6>
                <ul class="list--hover">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/burningman">Burning Man 2019</a></li>
                </ul>
            </div>
            <div class="col-sm-7 col-md-4 col-xs-7">
                <h6 class="type--uppercase">Support</h6>
                <ul class="list--hover">
                    <li><a href="/legal">Community Ethos</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6"><span class="type--fine-print">© <span
                    class="update-year">2020</span> BubblyEverAfter</span>
                <a class="type--fine-print" href="/terms/">Terms And Conditions</a>
            </div>
            <div class="col-sm-6 text-right text-left-xs">
                <ul class="social-list list-inline list--hover">
                    <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
                    <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                    <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                    <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

