<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow"><i
                        class="icon icon--sm icon icon-Ticket color--primary"></i>
                    <h5><a href="/leader/tickets/">Manage Tickets</a></h5>
                    <p> Manage all members' tickets</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow"><i
                        class="icon icon--sm icon-Car-2 color--primary"> </i>
                    <h5><a href="/leader/vehicles/">Manage Vehicles</a></h5>
                    <p> Manage all members' vehicles </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow"><i
                        class="icon icon--sm icon-Tent color--primary"></i>
                    <h5><a href="/leader/accommodations/">Manage Accommodations</a></h5>
                    <p> Manage all accommodations </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow"><i
                        class="icon icon--sm icon-Tent color--primary"></i>
                    <h5><a href="/leader/membersaccommodations/">Manage Members' Accommodations</a></h5>
                    <p> Manage accommodations by member </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow"><i
                        class="icon icon--sm icon-Letter-Open color--primary"></i>
                    <h5><a href="/leader/burns/">Manage Burns</a></h5>
                    <p> Manage all members' burns </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow"><i
                        class="icon icon--sm icon-Tent color--primary"></i>
                    <h5><a href="/leader/burnsaccommodations/">Manage Burns' Accommodations</a></h5>
                    <p> Manage burns' accommodations </p>
                </div>
            </div>
        </div>
    </div>
</section>