{% extends 'Membership/table.html' %}
{% block columns %}
    <title>Accommodations</title>
    <tr class="table100-head">
        <th class="column1">Name</th>
        <th class="column2">Full</th>
        <th class="column3">Type</th>
    </tr>
    <col style="width:40%">
    <col style="width:20%">
    <col style="width:40%">
    <caption>Accommodations</caption>
{% endblock %}

{% block values %}
    {% for accommodation in accommodations %}
        <tr>
            <td class="column1">{{ accommodation.name }}</td>
            <td class="column2">{{ accommodation.is_full }}</td>
            <td class="column3">{{ accommodation.type }}</td>
        </tr>

    {% endfor %}
    <form action="/member/leader/tickets/">
        <button type="submit" class="btn btn-light">Tickets</button>
    </form>
    <form action="/member/leader/dashboard/">
        <button type="submit" class="btn btn-light">Return to Dashboard</button>
    </form>
    <form action="/member/leader/vehicles/">
        <button type="submit" class="btn btn-light">Vehicles</button>
    </form>
{% endblock %}

