<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Login V2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static "MembershipApp/Login/images/icons/favicon.ico" %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static "MembershipApp/Login/vendor/bootstrap/css/bootstrap.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static "MembershipApp/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static "MembershipApp/Login/fonts/iconic/css/material-design-iconic-font.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "MembershipApp/Login/vendor/animate/animate.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static "MembershipApp/Login/vendor/css-hamburgers/hamburgers.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static "MembershipApp/Login/vendor/animsition/css/animsition.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "MembershipApp/Login/vendor/select2/select2.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static "MembershipApp/Login/vendor/daterangepicker/daterangepicker.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "MembershipApp/Login/css/util.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "MembershipApp/Login/css/main.css" %}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form method="POST">
                {% csrf_token %}
                <span class="login100-form-title p-b-26">
						Welcome To Bubbly Ever After
					</span>

                <div class="wrap-input100">
                    <input class="input100" type="text" {{ form.username }}>
                    <span class="focus-input100" data-placeholder="Username"></span>
                </div>

                <div class="wrap-input100">
                    <input class="input100" type="password"  {{ form.password }}>
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            LOGIN
                        </button>
                    </div>
                </div>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="text-center p-t-80">
						<span class="txt1">
							Don’t have an account?
						</span>

                    <a class="txt2" href="/member/register">
                        Sign Up
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="{% static "MembershipApp/Login/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "MembershipApp/Login/vendor/animsition/js/animsition.min.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "MembershipApp/Login/vendor/bootstrap/js/popper.js" %}"></script>
<script src="{% static "MembershipApp/Login/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "MembershipApp/Login/vendor/select2/select2.min.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "MembershipApp/Login/vendor/daterangepicker/moment.min.js" %}"></script>
<script src="{% static "MembershipApp/Login/vendor/daterangepicker/daterangepicker.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "MembershipApp/Login/vendor/countdowntime/countdowntime.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "MembershipApp/Login/js/main.js" %}"></script>

</body>
</html>
