{% extends "MembershipApp/base.html" %}

{% load static %}
{% block body %}
    <div class="main-container">
    <section class="switchable feature-large feature-large-13 text-justify">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6"><img alt="Image" class="border--round box-shadow-wide"
                                           src="{% static "MembershipApp/img/inner-3.jpg" %}"><img alt="Image"
                                                                                                   class="border--round box-shadow-wide"
                                                                                                   src="{% static "MembershipApp/img/inner-4.jpg" %}">
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="switchable__text">
                        <p class="lead">Bubbly Ever After is a positive heart-centered global community of Bubbly
                            Happiness Agents made up of incredible citizens of the world, burners, activists and techies
                            embody the 10 Principles of Burning Man in the world that seek to empower people to feel
                            better about themselves in a world that they are helping to improve.<br>Bubbly Ever After
                            loves creating safe nurturing community, experiences, and spaces to gather and connect.<br>
                            We seek to provide healing, affirmation, abundance, love and authentic connection for our
                            minds, bodies, souls, and health at Black Rock City and beyond.<br>We began by hosting
                            Bubbly Picnics in 2017 to bring people together and we've continued to host gatherings that
                            bring together inspiring caring individuals. Come join us at our next gathering to meet our
                            members and #StayBubbly.<br>We invite you to please share, create, stretch, grow, hold space
                            and be bubbly ​with us.<br>Together, in love, care, respect and light.<br>​<br><b><font
                                    color="#d5d5d5">Let's be a part of shaping the kind of world we want to live
                                in.</font>-BEA</b><br><br>#StayBubbly"Black Rock gives us all a chance to heal, to
                            become ourselves." - Larry Harvey</p>
                        <div class="text-block">
                            <h5>SUPPORT BUBBLY EVER AFTER</h5>
                            <p>
                                <font color="#515151">Can't camp with us but still want to support?</font><br>
                                <font color="#515151">We'd love to hear from you. There are plenty of ways to support
                                    our camp.</font>
                            </p>
                        </div>
                        <div class="text-block">
                            <h5>SPEAK AT BUBBLY EVER AFTER </h5>
                            <p>
                                <font color="#515151">Please </font><a
                                    href="https://accounts.google.com/signin/v2/identifier?service=wise&amp;passive=1209600&amp;continue=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F188hmLwwL_h-4FlKfq675TmoP0vlZFebk-umBQ1FlzqY%2Fedit%3Fusp%3Dsharing&amp;followup=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F188hmLwwL_h-4FlKfq675TmoP0vlZFebk-umBQ1FlzqY%2Fedit%3Fusp%3Dsharing&amp;ltmpl=sheets&amp;flowName=GlifWebSignIn&amp;flowEntry=ServiceLogin">sign
                                up here</a>
                                <font color="#515151"> if you'd like to be considered to host a talk, workshop or
                                    experience in line with our speaker series (which will be made public soon).</font>
                            </p>
                        </div>
                        <div class="text-block">
                            <h5>SHARE WITH BUBBLY EVER AFTER</h5>
                            <p>
                                <font color="#515151">Our main lounge will also be holding space for groups,
                                    individuals, and musicians who want to host meetings, talks, workshops, and
                                    impromptu jams when the space is not in use. Please let us know if you'd like to use
                                    the space for facilitation.</font><br><br>
                                <font color="#515151">We love cross-camp and good human collaboration. </font><br>
                                <font color="#515151">If your camp would like to come on by with an art car, a Happy
                                    Hour, a dance, art, music, etc to share with others. Please let us know. We'd love
                                    to clear some space and have you come share some magic with us in our communal
                                    space.</font>
                            </p>
                            <p><b>DONATE</b><br><br>
                                <font color="#515151">Your gifts will fund the structures, speaker series, lounges, art,
                                    and the bubbly on the playa and beyond. They will be much
                                    appreciated.</font><br><br>
                                <font color="#515151">Gifts can be made</font><br><br>
                                <font color="#515151">via </font><a href="https://www.paypal.com/">PayPal</a>
                                <font color="#515151"> to everbubblyafter@gmail.com.&nbsp;</font><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<footer class="space--sm footer-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-xs-6">
                <h6 class="type--uppercase">Company</h6>
                <ul class="list--hover">
                    <li><a href="#">About Company</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Work With Us</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-6">
                <h6 class="type--uppercase">Apply</h6>
                <ul class="list--hover">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Apply to camp</a></li>
                    <li><a href="#">Apply to speak</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-6">
                <h6 class="type--uppercase">BEE</h6>
                <ul class="list--hover">
                    <li><a href="#">Burning Man 2019</a></li>
                    <li><a href="#">Community Ethos</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-6">
                <h6 class="type--uppercase">Support</h6>
                <ul class="list--hover">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6"><span class="type--fine-print">© <span class="update-year">2020</span> BubblyEverAfter</span>
                <a class="type--fine-print" href="#">Privacy Policy</a> <a class="type--fine-print" href="#">Legal</a>
            </div>
            <div class="col-sm-6 text-right text-left-xs">
                <ul class="social-list list-inline list--hover">
                    <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
                    <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                    <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                    <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>
<div class="main-container"></div>
<script src="{% static "MembershipApp/js/jquery-3.1.1.min.js" %}"></script>
<script src="{% static "MembershipApp/js/parallax.js" %}"></script>
<script src="{% static "MembershipApp/js/smooth-scroll.min.js" %}"></script>
<script src="{% static "MembershipApp/js/scripts.js" %}"></script>


</html>