{% extends "MembershipApp/base.html" %}

{% load static %}
{% block body %}
    <div class="main-container">
    <section class="text-justify">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <article>
                        <div class="article__title text-center">
                            <h1 class="h2">Burning Man 2019</h1>
                        </div>
                        <div class="article__body"><img alt="Image"
                                                        src="{% static "MembershipApp/img/blog-55.jpg.png" %}"><img
                                alt="Image" src="{% static "MembershipApp/img/blog-56.jpg.png" %}">
                            <p><font color="#8a2be2"><b> Bubbly Ever After is a group of Bubbly Happiness Agents that
                                are delighted to meet you!</b></font>
                            </p>
                            <p><b>
                                AN ENCHANTED FOREST AWAITS YOU AT THE BUBBLY LOUNGE</b><br>Take off your shoes and come
                                explore Conscious Connections in our decadent Bubbly Picnic Lounge, a SAFE space for you
                                to connect with friends new and old or rest awhile. You can sit with your intentions,
                                gratitudes and affirmations in our Enchanted Forest, enjoy some board games, craft some
                                affirmation necklaces or play a round of bocce or croquet as well. </p>
                            <p><b>THE BUBBLIEST OF HOURS</b><br>You've ditched your 9 to 5, so come enjoy our daily
                                bubbly hour when our bar is open and ready to serve those over 21 a drink!<br><br>There
                                are two happy hour parties that will be extra special!<br>Celebrate life and playa wide
                                birthday babes with us on Tuesday.<br>And come dazzle us in your playa finest at our
                                Royal Affair on Thursday!<br><br>
                                <font color="#818181"><b>Our events calendar is filling up with special workshops and
                                    featured events fast! Please come enjoy talks from the Bureau of Erotic Discourse on
                                    Wednesday, a talk on How To End Aging on Thursday, A Discourse on Protecting Your
                                    Identity In A Digital World and more, check out <a
                                            href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSjHrgbZWBvEIvQWZuCI5am00kSCaBmLasL2iNdYxj7OxfMT9oioG19gcL-gXPbXb2EQs7Ty2QY8d5d/pubhtml?gid=257841259&amp;single=true">our
                                        public events</a> calendar being updated in real time.</b></font><br>
                                <font color="#818181">​</font><br></p>

                            <p><font color="#8a2be2"><b> CAMP WITH US</b></font>
                            </p>
                            <p>
                                <font color="#818181"><b>We do have a handful of spots available for 2019, you are
                                    welcome to apply.</b></font><br>Applying does not guarantee acceptance, your
                                participation and care does.<br><br>
                                <font color="#818181"><b>We are a camp and community that is empowered by people who are
                                    radically self reliant, want to contribute meaningfully and proactively participate
                                    in co-creating a SAFE and wonderful experiences together.</b><br> <br><b>If this
                                    sounds like you, we would love to meet you!</b></font><br>Please apply and someone
                                from our Membership Team will get in touch with you shortly. Our camp application will
                                give you a great orientation to our camp's values. Do also get familiar with our
                                community ethos!</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<footer class="space--sm footer-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-xs-6">
                <h6 class="type--uppercase">Company</h6>
                <ul class="list--hover">
                    <li><a href="#">About Company</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Work With Us</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-6">
                <h6 class="type--uppercase">Apply</h6>
                <ul class="list--hover">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Apply to camp</a></li>
                    <li><a href="#">Apply to speak</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-6">
                <h6 class="type--uppercase">BEE</h6>
                <ul class="list--hover">
                    <li><a href="#">Burning Man 2019</a></li>
                    <li><a href="#">Community Ethos</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-6">
                <h6 class="type--uppercase">Support</h6>
                <ul class="list--hover">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6"><span class="type--fine-print">© <span class="update-year">2020</span> BubblyEverAfter</span>
                <a class="type--fine-print" href="#">Privacy Policy</a> <a class="type--fine-print" href="#">Legal</a>
            </div>
            <div class="col-sm-6 text-right text-left-xs">
                <ul class="social-list list-inline list--hover">
                    <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
                    <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                    <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                    <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="{% static "MembershipApp/js/jquery-3.1.1.min.js" %}"></script>
<script src="{% static "MembershipApp/js/parallax.js" %}"></script>
<script src="{% static "MembershipApp/js/smooth-scroll.min.js" %}"></script>
<script src="{% static "MembershipApp/js/scripts.js" %}"></script>


</html>