{% extends "MembershipApp/base.html" %}
{% load static %}
{% block body %}
    <section class="switchable">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-lg-5">
                    <div class="mt--3">
                        <h1>Welcome to <br>Bubbly Ever After</h1>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12"> {{ form }}  </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn--primary">Login</button>
                                </div>
                                <div class="col-12"><span class="type--fine-print">Don’t have an account? </span> <a
                                        class="txt2" href="/member/register"> Sign Up </a></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5"><img alt="Image" class="border--round box-shadow-wide"
                                                    src="{% static "MembershipApp/img/login_image.jpg" %}"></div>
            </div>
        </div>
    </section>
{% endblock %}
