{% extends "MembershipApp/base.html" %}
{% block body %}
    {% if member != null %}
        Username: {{ member.username }}
        Birthday: {{ member.birthday }} Country: {{ member.country }} City: {{ member.city }} Phone number:
        {{ member.phone_number }}
        Gender Identity: {{ member.gender_identity }} Ethnic Identity: {{ member.ethnic_identity }} Allergies:
        {{ member.allergies }}
        Facebook:{{ member.facebook }} Medical Issues: {{ member.medical_issues }} Paypal Email:
        {{ member.paypal_email }}
        Virgin Burner: {{ member.is_virgin_burner }} Burning Man Email: {{ member.burning_man_profile_email }}
        Playa Name: {{ member.playa_name }} Years Attended: {{ member.years_attending_burning_man }} Leader?
        {{ member.is_leadership }}
    {% else %}
        {{ user }}
    {% endif %}
{% endblock %}