{% load static %}
{% load custom %}
<div style="overflow-x:auto;">
    <table id="myTable" class="border--round table--alternate-row sortable">
        <thead>
        {#        <tr>#}
        {#            <td colspan="20" style="font-size: 25px"><strong>{{title}}</strong></td>#}
        {#        </tr>#}
        {% for field in fields %}
            <th>{{ field }}
                <input type="text" style="width: 100px;height: 27px" id="myInput{{ forloop.counter }}"
                       onkeyup="myFunction1({{ forloop.counter }})"
                       placeholder="Search..."></th>
        {% endfor %}
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                {% for element in fields %}
                    {% if item|get_attribute:element == null or item|get_attribute:element == "" %}
                        <td class="table-danger"> X</td>
                    {% else %}
                        <td> {{ item|get_attribute:element }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% block script %}
    <script src="{% static "MembershipApp/js/sorttable.js" %}"></script>
    <script src="{% static "MembershipApp/js/tablesearch.js" %}"></script>
{% endblock %}